<section class="mt-4">
    <div class="container">
        <table id="allusertable" class="table display mt-5 " border="2">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {{#each allusers}}
                <tr>
                    <td>{{this.userdetail.Name}}</td>
                    <td>{{this.userdetail.Email}}</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
</section>

<script>
 new DataTable('#allusertable');
</script>