<header class="container-fluid sticky-top font-monospace">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/superadmin">Super Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/superadmin/alladmin">All Admins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/superadmin/alluser">All Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/superadmin/allorders">All Orders</a>
                    </li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{#if superadmindetails}}
                        {{superadmindetails.Name}}
                        {{else}}
                        Super Admin Account
                        {{/if}}
                    </button>
                    <ul style="min-width: 80%;" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        {{#if superadmindetails}}
                        <li><a class="dropdown-item" href="/superadmin/logout">Logout <i class="bi bi-box-arrow-in-left"></i></a></li>
                        {{else}}
                        <li><a class="dropdown-item" href="/superadmin/login">Login <i class="bi bi-box-arrow-in-right"></i></a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

    <style>
        nav{
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .btn-secondary{
        border-radius: 7px;
    }
    .dropdown-menu{
       transform-origin: top center;
       animation: rotateC 500ms ease-out forwards;
       border-radius: 7px;
}
@keyframes rotateC {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(30deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(10deg);
  }
}
    </style>