<section class="p-5 m-auto text-center font-monospace"> 
    <div>
        <h1>Order Placed Successfully</h1>
    </div>
    <div>
        <a href="/orders" class="btn btn-primary text-white">Go To Orders</a>
    </div>
</section>